{
  "presets": [
    [
      "env",
      {
        "esmodules": false,
        "targets": {
          "browsers": [
            "> 3%"
          ]
        }
      },
      "flow"
    ]
  ],
  "plugins": [
    "transform-runtime"
  ],
  "retainLines": true
}
